<h1>{{title}}</h1>

<br/>
<br/>


<form>

  <!-- Search Query Input-->
	<div class="mb-3 row">
		<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
		<div class="col-xs-3 col-sm-auto">
			<input
				id="table-complete-search"
				type="text"
				class="form-control"
				name="searchTerm"
				[(ngModel)]="searchQuery"
			/>
		</div>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" >Id .</th>
				<th scope="col" >Name</th>
				<th scope="col" >City</th>
			</tr>
		</thead>
		<tbody>
      <!-- myFilter pipe filter by filed name and searchQuery -->
      <!-- myPagination pipe does the pagination -->
			<tr *ngFor="let user of users | myFilter:'name':searchQuery | myPagination:pageSize:currentPage">
				<th>{{ user.id }}</th>
				<td>{{user.name}}</td>
				<td>{{user.city}}</td>
			</tr>
		</tbody>
	</table>

  <!-- this is ngb bootstrap pagination -->
	<div class="d-flex justify-content-between p-2">
		<ngb-pagination [collectionSize]="(users | myFilter:'name':searchQuery).length" [(page)]="currentPage" [pageSize]="pageSize">
		</ngb-pagination>

		<select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize">
			<option [value]="5">5 items per page</option>
			<option [value]="10">10 items per page</option>
			<option [value]="15">15 items per page</option>
		</select>
	</div>
</form>
